body {
    font-family: Arial, sans-serif;
    background-color: #9bc0f7; 
    color: #050505;           
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}
body {
    max: width 90%;
    margin: 0 auto; 
}
section {
    display: none;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section:target {
    display: flex;
}

#home {
    display: flex; 
}

:target ~ #home {
    display: none;
}
header {
    background: #4386eb;    
    color: #050505;
    padding: 2rem;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px
    max-width: 500px;
    margin: 0 auto; 
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.submit-btn {
    background-color: #92c0f0; 
    color: rgb(22, 22, 22);
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #0a6cdd;
}
section {
    background: rgb(71, 108, 231);
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;      
    box-shadow: 0 4px 8px rgba(84, 215, 233, 0.1);
}

.navbar {
    position: fixed;       
    top: 0;                
    right: 0;               
    width: 100%;            
    padding: 20px 40px;       
    z-index: 1000;          
    display: flex;
    justify-content: flex-end; 
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter:(5px);           
}

.navbar a {
    text-decoration: none;
    color: #ffffff;      
    margin-right: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
.typewriter {
  overflow: hidden; 
  border-right: .15em solid #080808; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  max-width: fit-content;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #080808; }
}
.picture {
    width: 300px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    border: 4px solid #0056b3;
    opacity: 0;
    transform: scale(0.5);
    animation: zoomIn 3s ease-out forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;            
    }
    100% {
        transform: scale(1);
        opacity: 1;           
    }
}
.navbar a:hover {
    color: #080cf7;         
    text-decoration: underline;
}